body, html {
    height: 100%;
}
h1 {
    color: navy;
    background-color: burlywood;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2, h3 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
body {
    height: 100%;
    background: burlywood url("https://kept.com.ua/image/matP/background.png") no-repeat center;
    background-size: cover;
}
input {
    font-size: 26px;
    margin-left: 5px;
    margin-right: 5px;
}

.center160 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 160px;
    width: 210px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center300 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 360px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center700 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 360px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center560 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 560px;
    width: 600px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}.center540 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 540px;
    width: 400px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn100 {
    height:34px;
    width:100px;
}
.btn200 {
    height:80px;
    width:200px;
}
.btn350 {
    height:75px;
    width:350px;
}
.btn390 {
    height:75px;
    width:390px;
}
.field200 {
    height:40px;
    width:200px;
    position: relative;
    left: 1%;
}
.red {
    color: red;
    background-color: burlywood;
}
.blue {
    color: darkblue;
    background-color: burlywood;
}
.border2px {
    border: 2px solid green;
}