body, html {
    height: 100%;
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}
h1, h2, h3, h4 {
    color: navy;
    background-color: burlywood;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
body {
    height: 100%;
    background: burlywood url("https://kept.com.ua/image/matP/background.png") no-repeat center;
    background-size: cover;
}
input {
    font-size: 46px;
    margin-left: 5px;
    margin-right: 5px;
}

.center-index {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 513px;
    width: 600px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center-login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 472px;
    width: 600px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center-main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 600px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center-shop {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 620px;
    width: 600px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center-register {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 630px;
    width: 600px;
    border: 3px solid green;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-quarter60 {
    height:60px;
    width:130px;
}
.btn-half60 {
    height:60px;
    width:290px;
}
.btn-half100 {
    height:100px;
    width:287px;
}
.btn100 {
    height:100px;
    width:590px;
}
.btn200 {
    height:200px;
    width:590px;
    /*font-size: 26px;*/
}
.btn150 {
    height:150px;
    width:590px;
}
.field200 {
    height:40px;
    width:200px;
    position: relative;
    left: 1%;
}
.red {
    color: red;
    background-color: burlywood;
}
.width-300 {
    width: 290px;
}
.width-150 {
    width: 142px;
    border: 2px solid green;
}